<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 justify-content-center">
    <button type="button" class="btn btn-success btn-login">Log In</button>
  </div>
</div>